/* UserManagement.css */

/* General styles */
.UserManagementContainer {
  padding: 20px;
}

.headings {
  text-align: center;
  margin-bottom: 20px;
}
.userId {
  color: red;
}
.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.error {
  color: red;
  font-size: 12px;
}

.btnclick {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.btnclick:disabled {
  background-color: #cccccc;
}

.table-responsive {
  width: 100%;
  margin-bottom: 20px;
}

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 14px;
}

.userTable th {
  background-color: #f2f2f2;
  text-align: center;
}

.statusButton {
  padding: 5px 10px;
  border: none;
  color: rgb(252, 255, 253);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(154, 16, 16);
}

.statusButton:hover {
  background: red;
}
.statusButton:active {
  background-color: rgb(154, 16, 16);
}
.statusButton.active {
  background-color: green;
}

.statusButton.inactive {
  background-color: red;
}

.updateButton,
.deleteButton {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.updateButton {
  background: #ffbf00;
  margin-right: 3px;
  margin-bottom: 3px;
}

.updateButton:hover {
  background: rgb(184, 170, 10);
}

.updateButton:active {
  background: #ffc107;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

/* Media queries for different screen sizes */
@media (max-width: 768px) {
  /* Tablet and mobile view */
  .table-responsive {
    overflow-x: auto;
  }

  .userTable,
  .userTable thead,
  .userTable tbody,
  .userTable th,
  .userTable td,
  .userTable tr {
    display: block;
    font-size: 14px;
  }

  .userTable th {
    display: none;
  }

  .userTable td {
    position: relative;
    padding-left: 40%;
    text-align: left;
  }

  .userTable td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    font-size: 14px;
  }

  .userTable td:last-child {
    border-bottom: 2px solid #ddd;
  }
}
