/* General Styles */
.LayoutContainer {
  background-color: white;
  display: flex;
  margin: 100px 20px; /* Adjust margin to account for fixed nav */
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 100%;
  background-color: #f3f4f5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(167, 40, 40, 0.686);
}

.heading1 {
  font-size: 1.2rem;
  color: #690b0b;
  margin: 10px auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.heading {
  font-size: 16px;
  color: #032a51;
  margin-bottom: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.navButtons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin-bottom: 0px;

  /* background-color: #f8f9fa; */
  padding: 10px 30px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.btn {
  background-color: #007bff;
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px; /* Set the same width for all buttons */
}

.btn:hover {
  background-color: #0056b3;
}

.usersButton {
  background-color: #6f42c1;
}

.usersButton:hover {
  background-color: #563d7c;
}

.rolesButton {
  background-color: #28a745;
}

.rolesButton:hover {
  background-color: #218838;
}

.permissionsButton {
  background-color: #17a2b8;
}

.permissionsButton:hover {
  background-color: #138496;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .navButtons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 100%; /* Make the buttons full width on mobile */
    margin-bottom: 10px;
  }
}

/* Tablet Styles */
@media (min-width: 601px) and (max-width: 1024px) {
  .heading {
    font-size: 1.4rem;
  }

  .navButtons {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    flex: 1 1 45%;
    margin: 5px;
  }
}

/* Laptop Styles */
@media (min-width: 1025px) {
  .heading {
    font-size: 1.2rem;
  }

  .navButtons {
    display: flex;
    justify-content: space-around;
  }

  .btn {
    margin: 0 10px;
  }
}
